@charset "utf-8";

//リセット
html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    //font-size: 100%;
    font-weight: normal;
    vertical-align:baseline;
    box-sizing: border-box;
}
article, header, footer, aside, figure, figcaption, nav, section {
    display:block;
}
html {
    font-size: 62.5%;
    font-family: '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシックPro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳＰゴシック', 'MS PGothic', sans-serif;
    line-height: 1;
}
ol, ul {
    list-style: none;
    list-style-type: none;
}
a {
    text-decoration: none;
    &:link{
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    img {
          border-width: 0px;
          border-style: none;
          background: transparent;
    }
}

.main_header,
.select_header,
.selects,
.buttons,
.textareas_header,
.textareas,
.gl_footer {
    text-align: center;
}

.main_header {
    font-size: 48px;
    padding: 20px;
}

.select_header {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 1px;
}

.selects {
    font-size: 16px;
    padding-bottom: 20px;
}

.textareas_header {
    padding-top: 20px;
    padding-bottom: 1px;
    font-size: 24px;
}

.textareas {
    font-size: 24px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button {
    height: 30px;
    width: 80px;
    margin: 0 10px;
}
.farce_dramas {
    width: 400px;
    margin: 0 auto;
}
.araiguma_speech_bubble {
    position: relative;
    background: #e0edff;
    border-radius: 15px;
    margin: 50px 120px 50px 20px;
    padding: 20px 10px;
    font-size: 16px;
}
.araiguma_speech_bubble:after {
    content: "";
    position: absolute;
    background-image: url("../img/araiguma.jpg");
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: 300%;
    top: 50%;
    left: 0%;
    transform:translate(calc(-50% - 75px),-50%);
    background-position: 200px -30px;
    border-radius: 50px;
    border: 2px solid green;
}

.araiguma_speech_bubble:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0%;
      border: 15px solid transparent;
      border-right: 15px solid #e0edff;
      transform:translate(-100%,-50%);
}

.kitsune_speech_bubble {
    position: relative;
    background: #e0edff;
    border-radius: 15px;
    margin: 50px 20px 50px 120px;
    padding: 20px 10px;
    font-size: 16px;
}

.kitsune_speech_bubble:after {
    content: "";
    position: absolute;
    background-image: url("../img/kitsune.jpg");
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: 145%;
    top: 50%;
    left: 100%;
    transform:translate(calc(-50% + 75px),-50%);
    background-position: -25px 8px;
    border-radius: 50px;
    border: 2px solid orange;
}

.kitsune_speech_bubble:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      margin-left: 0px;
      border: 15px solid transparent;
      border-left: 15px solid #e0edff;
      transform:translate(0%,-50%);
}


.araiguma_shout_speech_bubble {
    position: relative;
    background: #e0edff;
    border-radius: 15px;
    margin: 50px 60px 50px 20px;
    padding: 20px 10px;
    font-size: 16px;
    line-height: 1.5;
}

.araiguma_shout_speech_bubble:after {
    content: "";
    position: absolute;
    background-image: url("../img/araiguma_shout.jpg");
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: 150%;
    top: 50%;
    left: 0%;
    transform:translate(calc(-50% - 75px),-50%);
    background-position: -20px 0px;
    border-radius: 50px;
    border: 2px solid green;
}

.araiguma_shout_speech_bubble:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    border: 15px solid transparent;
    border-right: 15px solid #e0edff;
    transform:translate(-100%,-50%);
}

.marker {
    font-size: 20px;
    background: linear-gradient(transparent 75%, #c1e0ff 0%);
    font-weight: bold;
}

.gl_footer {
    font-size: 14px;
    padding-top: 10px;
}